@import "../assets/fonts/GoogleSansDisplay-v1.27/stylesheet.css";

img {
	max-width: 100%;
	height: auto;
}

body {
	margin: 0;
	font-family: "Google Sans Display","Google Sans", "Product Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: "JetBrains Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

main {
	/* footer ~200px */
	min-height: calc(100vh - 200px);
}

.vox-only {
	visibility: hidden;
	display: block;
	width: 0;
	height: 0;
}
