.shadow {
	box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;

	&:hover {
		box-shadow: 0 0 #0000,
			0 0 #0000,
			10px 10px 20px -3px rgba(0, 0, 0, 0.1),
			10px 4px 10px -2px rgba(0, 0, 0, 0.05);
	}
}

div.card-front {
	transition: all .3s;

	&:hover {
		transform: translateY(-5px);
	}
}
