@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.login-background {
	font-family: Roboto, "Times New Roman", Times, serif;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url("../assets/background.jpg");
}

.login-wrap {
	background: #f2f2f2;
	border-radius: 10px;
	box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
}
.login-wrap .user-icon {
	width: 80px;
	height: 80px;
	background: #4285f4;
	border-radius: 50%;
	font-size: 30px;
	margin: 0 auto;
	margin-bottom: 10px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-wrap h3 {
	color: #4285f4;
}

.login-wrap .form-group {
	margin-bottom: 1.5rem;
}
.login-wrap .form-control {
	height: 48px;
	background: rgba(0, 0, 0, 0.05);
	color: #000;
	font-size: 16px;
	box-shadow: none;
	border: 1px solid transparent !important;
	padding-left: 20px;
	padding-right: 20px;
	color: #454c52;
	transition: all 0.2s ease-in-out;
}
.login-wrap .form-control::placeholder {
	color: rgba(0, 0, 0, 0.2);
}
.login-wrap .form-control:focus {
	border-color: none;
	background: rgba(0, 0, 0, 0.07);
}
.login-wrap .login-btn {
	background: #4285f4;
	border: none;
}

.login-wrap .register-link {
	text-align: left;
	color: rgba(0, 0, 0, 0.7);
}

.login-wrap .register-link a {
	text-decoration: none;
	color: #4285f4;
}

.login-wrap .field-error {
	text-align: left;
}

.login-wrap .forgot-password {
	text-align: right;
	margin-bottom: 1rem;
}

.login-wrap .forgot-password a {
	text-decoration: none;
	color: #4285f4;
}

.dark .login-wrap {
	background: #333;
	box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
}

.dark .login-wrap input {
	background: #fff;
}
.dark .login-wrap input:focus {
	background: #fff;
}
.dark .login-wrap p {
	color: #fff;
}