p.text {
	color: darkslategrey;
}

.member {
	display: inline-block;
}

	.member strong {
		display: block;
		font-size: 1.5em;
		padding-bottom: 0.25em;
	}

	.member p {
		margin-top: 0.25em;
	}

	.member img {
		padding: 1.5rem 1.5rem 0 1.5rem;
		border-radius: 100%;
		width: 10rem;
		height: 10rem;
	}

.team {
	text-align: center;
	left: 0;
	right: 0;
	margin: auto;
}


.dark p.text {
	color: #fff;
}

img {
	max-width: 100%;
}
