#table-of-contents {
	position: -webkit-sticky;
	position: sticky;
	/* For Safari */
	top: 4em;
	/* How far down the page you want your ToC to live */

	/* Give table of contents a scrollbar */
	max-height: calc(100vh - 40px);
	overflow: auto;

	h2,
	h3 {
		scroll-margin-top: 16px;
	}

	/* Safari-only */
	@supports (-webkit-hyphens:none) {

		h2,
		h3 {
			padding-top: 16px;
			margin-top: -16px;
		}
	}

	a {
		text-decoration: none;
	}

	li.active>a {
		color: #4285f4 !important;
	}

	li>a:hover {
		color: #4285f4 !important;
	}
}
