#table-of-contents h2,
#table-of-contents h3 {
	scroll-margin-top: 16px;
	/* Safari-only */
}

@supports (-webkit-hyphens: none) {
	#table-of-contents h2,
	#table-of-contents h3 {
		padding-top: 16px;
		margin-top: -16px;
	}
}
