.dark .table tr{
    background-color: #333;
    color: #fff;
}

.dark .table tr td {
    color: #fff;
}

.modal-content .dark {
    background-color: #333 !important;
}

.main {
    align-items: flex-start;
}

.edit-delete .edit {
    color: green;
    margin-right: 2rem;
}

.edit-delete .delete {
    color: red;
}

.edit-delete .edit:hover,
.edit-delete .delete:hover {
    cursor: pointer;
}