img {
	max-width: 100%;
	height: auto;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: "JetBrains Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

main {
	/* footer is ~200px tall */
	min-height: calc(100vh - 200px);
}

.vox-only {
	visibility: hidden;
	display: block;
	width: 0;
	height: 0;
}
