img {
	max-width: 100%;
	height: auto;
}

body,
html {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
}

code {
	font-family: 'JetBrains Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--google-sans-display);
	font-weight: 600;
}

main {
	/* footer is ~200px tall */
	min-height: calc(100vh - 200px);
}

.vox-only {
	visibility: hidden;
	display: block;
	width: 0;
	height: 0;
}
