footer {
	width: 100%;
	border-top: 1px solid #dadce0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2em;
	bottom: 0;
	background-color: #f8f9fa;
	/* top: 0; */
	/* margin-top: -100px; */
}
a {
	padding: 10px;
	color: black;
	/* color: rgb(144, 144, 148); */
	text-decoration: none; /* no underline */
}

.dark  a {
	color: #fff;
}
