@font-face {
	font-family: 'Google Sans';
	src:
		local('Google Sans Bold Italic'),
		local('GoogleSans-BoldItalic'),
		url('GoogleSans-BoldItalic.woff2') format('woff2'),
		url('GoogleSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Google Sans';
	src:
		local('Google Sans Italic'),
		local('GoogleSans-Italic'),
		url('GoogleSans-Italic.woff2') format('woff2'),
		url('GoogleSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Google Sans';
	src:
		local('Google Sans Bold'),
		local('GoogleSans-Bold'),
		url('GoogleSans-Bold.woff2') format('woff2'),
		url('GoogleSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Google Sans';
	src:
		local('Google Sans Medium Italic'),
		local('GoogleSans-MediumItalic'),
		url('GoogleSans-MediumItalic.woff2') format('woff2'),
		url('GoogleSans-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Google Sans';
	src:
		local('Google Sans Medium'),
		local('GoogleSans-Medium'),
		url('GoogleSans-Medium.woff2') format('woff2'),
		url('GoogleSans-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Google Sans';
	src:
		local('Google Sans Regular'),
		local('GoogleSans-Regular'),
		url('GoogleSans-Regular.woff2') format('woff2'),
		url('GoogleSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
